{% block recently_registered_surveys %}
    <h6>Recently Registered Surveys</h6>
    <div class="row data-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Survey Name</th>
                    <th>Created At</th>
                    <th>Active</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>

    <nav aria-label="Recently registered surveys">
        <ul class="pagination justify-content-center">
            <li class="page-item {{'disabled' if registered_surveys.page == 1}}">
                <a class="page-link" href="?page={{registered_surveys.prev_num}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for i in range(1, registered_surveys.pages + 1) %}
                {% if i == registered_surveys.page %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}"><b>{{i}}</b></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {{'disabled' if registered_surveys.page == registered_surveys.pages}}">
                <a class="page-link" href="?page={{registered_surveys.next_num}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>       
{% endblock %}