{% block active_signup_tokens %}
    <div class="row data-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Token Hash</th>
                    <th>Created At</th>
                    <th>Active</th>
                    <th>Usages</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for token in new_survey_tokens.items %}
                    <tr>
                        <th scope="row">{{ token.token }}</th>
                        <td>{{ token.created_at.replace(microsecond=0) }}</td>
                        <td>{{ token.active }}</td>
                        <td>{{ token.usages }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tokens pagination -->
    <nav aria-label="New survey tokens">
        <ul class="pagination justify-content-center">
            <li class="page-item {{'disabled' if new_survey_tokens.page == 1}}">
                <a class="page-link" href="?page={{new_survey_tokens.prev_num}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for i in range(1, new_survey_tokens.pages + 1) %}
                {% if i == new_survey_tokens.page %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}"><b>{{i}}</b></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {{'disabled' if new_survey_tokens.page == new_survey_tokens.pages}}">
                <a class="page-link" href="?page={{new_survey_tokens.next_num}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}